@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Coité, SN, Lote 9 Quadra 7<br />
    Vila Verde, Belford Roxo, Rj - Brasil<br />
    <abbr title="Phone">Tel:</abbr>
    +55 (21) 9 6548-2346
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lariodiniz@gmail.com">lariodiniz@gmail.com</a><br />    
</address>